@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Lehe üleval paremal nurgas on nupp, mille abil saab avada sisseloginud kasutaja muutmise dialoogi. <br />
Osadel kasutajatel on suuremad õigused kui teistel, näiteks õigus kustutada, katestada töövooge ja täita teise kasutaja ülesandeid.