@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span>Hello, @context.User.Identity?.Name</span>
        <span role="button" @onclick="BeginLogOut">Log out</span>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}